@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F7F9;
  --foreground: #25283D;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Inter;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
